{% extends "layout.html" %}

{% block header %}
  <h1>Pantry Search <small>{{ food_name }}</small></h1>
  <p class="lead">Let's see who has some of that...</p>
{% endblock %}

{% block content %}
  {% if foods | length != 0 %}
    <div id="available" class="col-md-10">
      <hr />
      <table class="table table-striped">
        <thead>
          <tr>
            <td><b>Name</b></td>
            <td><b>Distance (miles)</b></td>
            <td><b>Walking time (minutes)</b></td>
            <td><b>Email</b></td>
            <!-- <td><b>Click to buy:</b> </td> -->
          </tr>
        </thead>

        <tbody>
          {% for food in foods if food.owner != current_user %}
            <tr>
              <td>{{ food.owner.real_name }}</td>
              <td>{{ geo_info[food.owner.real_name] }}</td>
              <td>{{ (geo_info[food.owner.real_name] * 60 / 3.1) | round(2) }}</td>
              <td>{{ food.owner.email }} </td>
              <!-- 
              <td>
                <a href="/venmo/{{ food.owner.username + '-' + food_name }}">
                  <img src="{{ url_for('static', filename='venmologoblue.png') }}" alt = 'Venmo button' height=15% />  
                </a>
              </td>
              -->
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p class="lead">Bummer. Nobody's offering any {{ food_name }}. Sorry!</p>
  {% endif %}
{% endblock %}
