/* Base Classes */

body {
  padding-bottom: 70px;
}

img {
  margin: 10px;
}

footer {
  text-align: center;
}

footer nav p {
  margin: 15px;
}

.btn {
  margin-right: 5px;
}

#top-nav {
  margin-top: 10px;
}


/* Flash classes */

.error {
  font-size: 20px;
  color: red;
}

.success {
  font-size: 20px;
  color: green;
}


/* Food classes */

.food-btn {
  margin: 5px;
}

.rotten {
  background: #f2dede;
}

.not-fresh {
  background: #fcf8e3;
}

.fresh {
  background: #dff0d8
}
